In [15]:
import pandas as pd

# Sample data
data = {
    'Name': ['John', 'Emily', 'Michael', 'Sophia', 'David'],
    'Age': [28, 24, 22, 30, 26],
    'City': ['New York', 'Los Angeles', 'Chicago', 'San Francisco', 'Miami'],
    'Salary': [55000, 62000, 48000, 71000, 59000]
}

# Create a DataFrame
df = pd.DataFrame(data)

print(df)

      Name  Age           City  Salary
0     John   28       New York   55000
1    Emily   24    Los Angeles   62000
2  Michael   22        Chicago   48000
3   Sophia   30  San Francisco   71000
4    David   26          Miami   59000

# pandas with scenarios:

**1.Sure, let's consider a real-time scenario of analyzing sales data for an e-commerce company using Pandas. We will assume that the company has a dataset containing information about their sales transactions, and we want to perform various data analysis tasks using Pandas.**

In [16]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('C:/Users/Raghu/Documents/datasets/pandas_sales_data.csv') # C:\Users\Raghu\Documents\datasets

In [17]:
df

   OrderID CustomerID       Product  Quantity  Price        Date
0     1001       C001        Laptop         2    800  15-07-2023
1     1002       C002    Smartphone         3    500  15-07-2023
2     1003       C003    Headphones         5     50  16-07-2023
3     1004       C004       Monitor         1    300  16-07-2023
4     1005       C005      Keyboard         4     30  17-07-2023
5     1006       C002    Smartphone         1    500  17-07-2023
6     1007       C006         Mouse         2     20  18-07-2023
7     1008       C007       Printer         1    200  18-07-2023
8     1009       C003    Headphones         2     50  18-07-2023
9     1010       C008  External HDD         1    100  19-07-2023

In [18]:
df.shape

(10, 6)

In [19]:
# Display the first few rows of the DataFrame
print(df.head())

   OrderID CustomerID     Product  Quantity  Price        Date
0     1001       C001      Laptop         2    800  15-07-2023
1     1002       C002  Smartphone         3    500  15-07-2023
2     1003       C003  Headphones         5     50  16-07-2023
3     1004       C004     Monitor         1    300  16-07-2023
4     1005       C005    Keyboard         4     30  17-07-2023

In [20]:
# Get basic statistics of the numerical columns
print(df.describe())

          OrderID   Quantity       Price
count    10.00000  10.000000   10.000000
mean   1005.50000   2.200000  255.000000
std       3.02765   1.398412  265.842476
min    1001.00000   1.000000   20.000000
25%    1003.25000   1.000000   50.000000
50%    1005.50000   2.000000  150.000000
75%    1007.75000   2.750000  450.000000
max    1010.00000   5.000000  800.000000

In [21]:
# Calculate total sales revenue:
df['Total Revenue'] = df['Quantity'] * df['Price']
total_revenue = df['Total Revenue'].sum()
print('Total Sales Revenue:', total_revenue)

Total Sales Revenue: 4710

In [22]:
# Check the data types and missing values
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OrderID        10 non-null     int64
 1   CustomerID     10 non-null     object
 2   Product        10 non-null     object
 3   Quantity       10 non-null     int64
 4   Price          10 non-null     int64
 5   Date           10 non-null     object
 6   Total Revenue  10 non-null     int64
dtypes: int64(4), object(3)
memory usage: 688.0+ bytes
None

In [23]:
# Top Selling Products:
# Group the data by product and calculate the total quantity sold for each product
product_sales = df.groupby('Product')['Quantity'].sum().reset_index()

# Sort the products based on quantity sold in descending order
top_selling_products = product_sales.sort_values('Quantity', ascending=False)
print('Top Selling Products:')
print(top_selling_products.head())

Top Selling Products:
      Product  Quantity
1  Headphones         7
2    Keyboard         4
7  Smartphone         4
3      Laptop         2
5       Mouse         2

In [24]:
# Monthly Sales Analysis:
# Convert the 'Date' column to a datetime data type
df['Time'] = pd.to_datetime(df['Date']) # check data is dispaled in new format.

# Extract the month and year from the 'Date' column
df['Month'] = df['Date'].dt.month
df['Year'] = df['Date'].dt.year

# Group the data by year and month and calculate the total sales for each month
monthly_sales = df.groupby(['Year', 'Month'])['Total Revenue'].sum().reset_index()

print('Monthly Sales Analysis:')
monthly_sales

C:\Users\Raghu\AppData\Local\Temp\ipykernel_2396\3456647990.py:3: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Time'] = pd.to_datetime(df['Date']) # check data is dispaled in new format.

AttributeError: Can only use .dt accessor with datetimelike values

In [ ]:
# Customer Lifetime Value:
# Calculate the total spending for each customer
customer_spending = df.groupby('CustomerID')['Total Revenue'].sum().reset_index()

# Sort customers based on total spending in descending order
top_customers = customer_spending.sort_values('Total Revenue', ascending=False)

print('Top Customers by Lifetime Value:')
print(top_customers.head())

In [ ]:
# Visualizing Top Selling Products:
import matplotlib.pyplot as plt
import seaborn as sns

# Plotting a bar chart for top selling products
plt.figure(figsize=(10, 6))
sns.barplot(x='Quantity', y='Product', data=top_selling_products.head(10))
plt.title('Top Selling Products')
plt.xlabel('Quantity Sold')
plt.ylabel('Product')
plt.show()

In [ ]:
# Monthly Sales Trend:
# Plotting a line chart for monthly sales trend
plt.figure(figsize=(10, 6))
sns.lineplot(x='Month', y='Total Revenue', hue='Year', data=monthly_sales)
plt.title('Monthly Sales Trend')
plt.xlabel('Month')
plt.ylabel('Total Revenue')
plt.show()

In [ ]:
# Customer Lifetime Value:
# Plotting a bar chart for top customers by lifetime value
plt.figure(figsize=(10, 6))
sns.barplot(x='Total Revenue', y='CustomerID', data=top_customers.head(10))
plt.title('Top Customers by Lifetime Value')
plt.xlabel('Total Spending')
plt.ylabel('Customer ID')
plt.show()

In [ ]:
# Customer Segmentation by Total Spending:
# Create bins for total spending
bins = [0, 100, 500, 1000, 5000, df['Total Revenue'].max()]
labels = ['Low', 'Medium', 'High', 'Very High', 'Super High']
df['Spending Category'] = pd.cut(df['Total Revenue'], bins=bins, labels=labels)

# Plotting a pie chart for customer segmentation by total spending
plt.figure(figsize=(8, 8))
plt.pie(df['Spending Category'].value_counts(), labels=labels, autopct='%1.1f%%', startangle=140)
plt.title('Customer Segmentation by Total Spending')
plt.axis('equal')
plt.show()

# Scenario: Retail Store Inventory Management

In [ ]:
import pandas as pd

# Read the CSV file into a DataFrame
#df_inventory = pd.read_csv('https://raw.githubusercontent.com/9394113857/Data-Sets/raghu/inventory_data.csv')

df_inventory = pd.read_csv('C:/Users/Raghu/Documents/csv files created/inventory_data.csv')

In [ ]:
# Display the first few rows of the DataFrame
print(df_inventory.head())
print()

# Get basic statistics of the numerical columns
print(df_inventory.describe())
print()

# Check the data types and missing values
print(df_inventory.info())

In [ ]:
# Calculate the total value of each product in the inventory
df_inventory['TotalValue'] = df_inventory['QuantityAvailable'] * df_inventory['Price']

# Calculate the total value of the entire inventory
total_inventory_value = df_inventory['TotalValue'].sum()

# Get the total number of products in the inventory
total_products = len(df_inventory)

# Display the total inventory value and total number of products
print('Total Inventory Value:', total_inventory_value)
print('Total Number of Products:', total_products)

In [ ]:
# Group the data by category and calculate the total quantity and value available for each category
category_inventory = df_inventory.groupby('Category').agg({'QuantityAvailable': 'sum', 'TotalValue': 'sum'}).reset_index()

print('Category-wise Inventory:')
print(category_inventory)

In [ ]:
# Define a threshold for low stock alert
low_stock_threshold = 10

# Filter products with quantity available less than the threshold
low_stock_products = df_inventory[df_inventory['QuantityAvailable'] < low_stock_threshold]

print('Low Stock Products:')
print(low_stock_products)

In [ ]:
# Assuming we have a separate sales dataset with OrderID, ProductID, and QuantitySold columns
# Read the sales data into a DataFrame
df_sales = pd.read_csv('sales_data.csv')

# Group the sales data by product and calculate the total quantity sold for each product
product_sales = df_sales.groupby('ProductID')['QuantitySold'].sum().reset_index()

# Merge the product_sales DataFrame with the inventory DataFrame to get product names
merged_df = pd.merge(product_sales, df_inventory[['ProductID', 'ProductName']], on='ProductID', how='left')

# Sort products based on quantity sold in descending order
top_selling_products = merged_df.sort_values('QuantitySold', ascending=False)

print('Top Selling Products:')
print(top_selling_products.head())

In [ ]:
# Assuming we have a separate sales dataset with OrderID, ProductID, and QuantitySold columns
# Read the sales data into a DataFrame
df_sales = pd.read_csv('sales_data.csv')

# Group the sales data by product and calculate the total quantity sold for each product
product_sales = df_sales.groupby('ProductID')['QuantitySold'].sum().reset_index()

# Merge the product_sales DataFrame with the inventory DataFrame to get product names
merged_df = pd.merge(product_sales, df_inventory[['ProductID', 'ProductName']], on='ProductID', how='left')

# Sort products based on quantity sold in descending order
top_selling_products = merged_df.sort_values('QuantitySold', ascending=False)

print('Top Selling Products:')
print(top_selling_products.head())

**plots:**

In [ ]:
# Category-wise Inventory Bar Chart:
import matplotlib.pyplot as plt
import seaborn as sns

# Plotting a bar chart for category-wise inventory
plt.figure(figsize=(10, 6))
sns.barplot(x='Category', y='QuantityAvailable', data=category_inventory)
plt.title('Category-wise Inventory')
plt.xlabel('Category')
plt.ylabel('Quantity Available')
plt.xticks(rotation=45)
plt.show()

In [ ]:
# Low Stock Products Bar Chart:
# Plotting a bar chart for low stock products
plt.figure(figsize=(10, 6))
sns.barplot(x='ProductName', y='QuantityAvailable', data=low_stock_products)
plt.title('Low Stock Products')
plt.xlabel('Product Name')
plt.ylabel('Quantity Available')
plt.xticks(rotation=45)
plt.show()

In [ ]:
# Top Selling Products Bar Chart:
# Plotting a bar chart for top selling products
plt.figure(figsize=(10, 6))
sns.barplot(x='ProductName', y='QuantitySold', data=top_selling_products.head(10))
plt.title('Top Selling Products')
plt.xlabel('Product Name')
plt.ylabel('Quantity Sold')
plt.xticks(rotation=45)
plt.show()

In [ ]:
# Total Inventory Value Pie Chart:
# Plotting a pie chart for the contribution of each category to the total inventory value
plt.figure(figsize=(8, 8))
plt.pie(category_inventory['TotalValue'], labels=category_inventory['Category'], autopct='%1.1f%%', startangle=140)
plt.title('Category-wise Contribution to Total Inventory Value')
plt.axis('equal')
plt.show()

These visualizations provide valuable insights into the retail store's inventory management. The bar charts help visualize the quantity of products available in each category and highlight the products with low stock. The pie chart gives a clear picture of how different categories contribute to the total inventory value. With this visual representation of data, the store can make informed decisions about inventory restocking, product promotion, and category-based strategies.

Remember that the choice of visualizations depends on the specific questions you want to answer and the nature of the data. These examples use Seaborn for plotting, but you can also explore other visualization libraries like Plotly or customize the plots further to match your requirements.